.navbar {
    width: 70%;
    margin: auto;
}

.fa-shopping-cart {
    font-size: larger;
    padding: .5rem 2rem;
    color: #DC3545;
    position: relative;
}

#cart-total {
    position: absolute;
    top: .5rem;
    right: 2rem;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: slateblue;
    color: white;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product__card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 450px;
    margin: 12px;
}

.product__card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product__details {
    padding: 10px 16px;
}

.flex {
    display: flex;
    gap: 10px;
}